* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  max-width: 100%;
  background-color: #F4F4F4;
  border-bottom: 1px solid #E7E7E8;
}

.firstHeader a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #414143;
  cursor: pointer;
}

.firstHeader a:hover {
  color: #41414387;
}

.logo {
  width: 90px;
  height: 40px;
}

.button {
  display: flex;
  align-items: center;
}

.headerBtn {
  width: 115px;
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
  text-align: center;
  outline: none;
  border: 1px solid #414143;
  color: #414143;
  background-color: transparent;
  margin: 0 12px;
  font-weight: 700;
  transition: opacity 0.2s ease;
  display: none;
}

.headerBtn:hover {
  opacity: 0.6;
}




#dropdownMenu {
  width: 330px;
  height: 400px;
  margin: 10px 16px;
  border-radius: 10px;
  padding: 10px 0;
}

.banner {
  width: 100%;
  height: 400px;
  position: relative;
}

.bannerImage {
  width: 100%;
  height: 100%;
}

.bannerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.bannerContent {
  width: 100%;
  top: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
}



.city label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #121214;

}

.city:not(.cityLast) {
  width: 300px;
  margin-bottom: 5px;
  padding: 0px 10px;
  border-right: 1px solid #41414351;
}

.city div {
  display: flex;
  justify-content: center;
}

.city input {
  border: none;
  font-weight: 400;
}

.cityInput input {
  border: none;
  width: 270px;
  outline: none;
}
.formContent{
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
}

.cityInput input:focus {
  border: 2px solid black;
  border-radius: 4px;
}

.search {
  width: 100%;
  height: 100%;
  /* padding: 4px; */
}


.search img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 9px;
  border-radius: 50px;
  margin: 5px;
  background-color: rgb(89, 60, 251);
  /* width: 90%; */
  /* height: 80%; */

}
.search button{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: rgb(89, 60, 251);
}

@media (min-width:768px) {
  .firstHeader a {
    font-size: 16px;
  }

  .headerBtn {
    display: block;
  }

  .menu Dropdown {
    background-color: transparent !important;
  }
  .formContent {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
    width: 940px;
    height: 56px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  .search {
    width: 50px;
    height: 100%;
    /* padding: 4px; */
  }
  .search img {
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    background-color: rgb(89, 60, 251);
    width: 90%;
    height: 80%;
  
  }
  .search button{
    margin: 3px;
    height: 50px;
    border: none;
    outline: none;
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgb(89, 60, 251);
    border-radius: 70px;
  }
}

@media (min-width:0) and (max-width:767px) {
  #dropdownMenu {
    margin: 0;
    min-width: 100vw !important;
    height: 100vh !important;
  }


}